@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html {
    font-size: 65%;
}

body {
    font-family: "Poppins", sans-serif;
}

/* utility classes */

.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: normal;
}

.btn-primary {
    color: #fff;
    background: red;
}

.btn-primary:hover {
    background: blue;
    transition: background 0.3s ease-in-out;
}

/* navigation links */

.logo {
    order: 1;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.menu-items {
    order: 2;
    display: flex;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.menu-items a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}
  
.menu-items a:hover {
    color: red;
    transition: color 0.3s ease-in-out;
}

/* Showcase stlying */

.showcase-area {
    height: 50vh;
    background: linear-gradient(
        rgba(240, 240, 240, 0.1444),
        rgba(255, 255, 255, 0.336)), 
        url('../images/hero-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
}

.main-title {
    text-transform: uppercase;
    margin-top: 1.5em;
}