@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* Set box-sizing and font-family for all elements */
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Orbitron, sans-serif;
    font-weight: 500;
}

/* Set background color and remove margin and padding for body */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #d8f5ff, #fafad2);
}

/* Add calculator grid layout and center its content */
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(6, 100px);
}

/* Style calculator buttons */
.calculator-grid>button {
    cursor: default;
    font-size: 1.8rem;
    border: 2px solid black;
    outline: none;
    background-color: white;
}

/* Style background color of button on hover */
.calculator-grid>button:hover {
    background-color: #d8f5ff;
}

/* Style AC button */
.all-clear {
    color: #e81d12;
}

/* Style span-two class elements */
.span-two {
    grid-column: span 2;
    color: #e81d12;
}

/* Style output section of calculator */
.output {
    grid-column: 1 / -1;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

/* Style previous operand in output section */
.output .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

/* Style current operand in output section */
.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

/* Media queries */
@media (max-width: 768px) {
    .calculator-grid {
        grid-template-columns: repeat(4, 60px);
        grid-template-rows: minmax(100px, auto) repeat(6, 80px);
    }

    .calculator-grid button, .output {
        font-size: 1.5rem;
    }
}